<h2>Edit or assign brand to <%= @store.name %></h2>

<form action="/rename_store/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Enter the new name for your store:</label><br>
  <input name="name" type="text" required>
  <button type="submit" class="buttons float-right">Update Name</button>
</form>
<hr>


<form action="/store/delete/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="buttons float-right">Delete This Store</button>
</form>
<hr>
<h2>Brands sold at this store:</h2>
<ul>
  <% @store.brands.each do |b| %>
    <li><%= b.logo%></li>
  <% end %>
</ul>
<br>
<h2><a href="/store/<%= @store.id %>/assign">Click to add a brand to this store</a></h2>
